



html {
    font-size: 16px;
}

:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #e0d9d9;
    --cor-do-link: #000000;
    --fonte-subtitulo: 2.5rem;
    
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-de-fundo-menu);
}

.cabecalho__logo {
    max-width: 10%; 
}

.cabecalho__titulo {
    font-size: 1.8rem;
    text-align: center;
}

.apresentacao__foto {
    max-width: 25%;
    max-height: auto;
    margin-left: 0rem;
            
}


.navegacao__lista {
    display: none;
}

.navegacao__elemento  {
    font-size: 2.0rem;
}
/* ------------------------------ Seção Apresentação ------------------------------*/


/* ------------------------------ Seção Sobre mim ----------------------------------*/


/*------------------------------ Seção de Habilidades ------------------------------*/


/*------------------------------ Seção de Hobbies --------------------------------*/


/*------------------------------ Seção de Projetos --------------------------------*/


/*------------------------------ Seção de Contato ---------------------------------*/


/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__logo {
        max-width: 6.25rem;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }


    .apresentacao__foto {
        max-width: 25%;
        max-height: auto;
        margin-left: 0rem;
                
    }

    .navegacao__lista {
        display: flex;
        flex-direction:row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacao__elemento a {
        font-size: 1rem;
    }
}

/* Telas grandes */
@media (min-width: 1024px) {
    
    .cabecalho__titulo {
        font-size: 2rem;
        display: flex;        
        margin-top: 1rem;
        margin-right: 75rem;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;     

    }
    


    .apresentacao { 
        display: flex;        
        margin-left: auto;
        align-items: center;
        line-height: 5rem;  

    }

    .apresentacao__titulo {
        font-size: 3.1rem;
        font-weight: bold;

    }

    .apresentacao__subtitulo {
        font-size: 1.2rem;
        font-style:oblique;
        line-height: 1.5rem;

    }

    .redes {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;}
      
    .redes__elemento {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 1.3rem;
    }
      
    .redes__elemento a {
        position: relative;
        z-index: 1;
        padding-left: 3rem;
        padding-right: 3rem;
    }
      
      
    .redes__logos {
        gap: 100rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;        
       
    }

    


    .redes a:hover{
        color: #307CE4;
        font-size: 1.65rem;
        font-style: bold;
    }

    
    .apresentacao__foto {
        max-width: 30%;
        max-height: auto;
        margin-left: 0.1rem;
                
    }

    .apresentacao__conteiner {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 2rem;
        text-align: center;
        transition: all 0.3s ease;
        width: 50%;
        height: 100%;
        
    }


    .sobre-mim {
                
        background-color: #e0d9d9;
        margin-left: 0%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;        
       
    }


    .sobre-mim__titulo {
        margin-left: 5rem;
        font-size: var(--fonte-subtitulo);
       
    }


    .sobre-mim__texto {
        margin-left: 5rem;
        margin-right: 5rem;
        font-size: 1.5rem;
                
    }

      
    .habilidades{
        
        width: 100%;
        height: 40vh;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    
    .habilidades__titulo {
        margin-left: 5rem;
        font-size: var(--fonte-subtitulo);
    }

    
    .habilidades__lista {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
        gap: 2rem;
        margin-right: 2rem;
    }
    
    
    .habilidades__elemento {
        background-color: #f5f5f5;
        border-radius: 0.63rem;
        box-shadow: 0 0.13rem 0.31rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
        text-align: center;
        transition: all 0.3s ease;
    }
      
      
    .habilidades__elemento:hover {
        box-shadow: 0 0.26rem 0.52rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.31rem);
    }
      
      
    .habilidades__icone {
        width: 3.1rem;
        height: 3.1rem;
        margin-bottom: 1rem;
    }
      
      
    .habilidades__nome {
        font-weight: bold;
        font-size: 1.2rem;
    }

         
    .hobbies {
        width: 100%;
        height: 35vh;
        margin-left: 0%;
    }

    .hobbies__titulo {
        margin-left: 5rem;
        font-size: var(--fonte-subtitulo);
    }


    .hobbies__lista {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
        gap: 2rem;
        margin-right: 2rem;

    }
      
    .hobbies__elemento {
        
        background-color: #f5f5f5;
        border-radius: 0.63rem;
        box-shadow: 0 0.13rem 0.31rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
        text-align: center;
        transition: all 0.3s ease;
    }
        
      
    
    .hobbies__elemento:hover {
        box-shadow: 0 0.26rem 0.52rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.31rem);
    }
        
        
    .hobbies__nome {
        font-weight: bold;
        font-size: 1.2rem;
    }

      
    .hobbies__icone {
        width: 70px;
        height: 70px;
        margin-bottom: 1rem;
    }
      
    .formacao {
        width: 100%;
        height: 40vh;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3.5rem;
    }


    .formacao__titulo {
        margin-left: 5rem;
        font-size: var(--fonte-subtitulo);
    }

    .formacao__lista {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
        gap: 1rem;
        margin-right: 1rem;
        text-align: center;
        
    }


    .formacao__elemento {
        
        background-color: #f5f5f5;
        border-radius: 0.63rem;
        box-shadow: 0 0.13rem 0.31rem rgba(0, 0, 0, 0.1);
        padding: 1rem;
        text-align: center;
        transition: all 0.3s ease;
        width: 93%;
        height: 15rem;
        
    }
          
    
    .formacao__elemento:hover {
        box-shadow: 0 0.26rem 0.52rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.31rem);

    }

    .formacao__icone {
        
        height: 40%;
        margin-bottom: 0.5rem;
    }


    .formacao__nome {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .formacao__detalhe {
        font-size: 1.2rem;
    } 
    
    .projetos {
        width: 100%;
        height: 45vh;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.8rem;
    }

    .projetos__titulo {
        margin-left: 5rem;
        font-size: var(--fonte-subtitulo);
    }

    .projetos__nome {
        font-weight: bold;
        font-size: 1.6rem;
        margin-left: 5rem;
    }

    .projetos__descricao {
        font-size: 1.2rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .link {
        font-weight: bold;
        text-decoration: none;
        color: #333;
        background-color: #f2f2f2;
        padding: 5px 10px;
        border-radius: 5px;
    }
      
    .link:hover {
        background-color: #e0e0e0;
        font-size: 1.5rem;
    }

    .contato {
        width: 100%;
        height: 35vh;
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
      
    .contato__titulo {
        margin-left: 0; 
        font-size: var(--fonte-subtitulo);
    }
      
    .contato__formulario {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 25%;
        
    }

    .contato__campo {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.4rem;        

    }

    .contato__campo--textarea {
        width: 99%;
        font-size: 1.4rem;
    }

    .contato__botao {
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        background-color: #307CE4;
        color: white;
        border: none;
        border-radius: 0.31rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
  
    
    .navegacao__elemento a {
        font-size: 1.3rem;
        margin-right: 0.1rem;
        
    }

    .navegacao__elemento a:hover {       
        font-weight: bold;
        color: #307CE4;
    }
}
